{% extends 'base.html.twig' %}

{% block title %}Comanda finalizata{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h3>Multumim,</h3>
                <br/>
                <h3>Comanda dvs. este finalizata!</h3>
            </div>
        </div>
    </div>
{% endblock %}
