{% block body %}
    <div class="container-fluid mt-5 pb-5 bg-dark text-light">
        <div class="row">
            <div class="col-3 ml-5">
                <br/>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cum putem cumunica:</div>
                <br/>
                <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>&nbsp; office@sneakersshop.ro
                <br/>
                <br/>
                <i class="fa fa-phone fa-3x" aria-hidden="true"></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 0723456789
                <br/>
            </div>
            <div class="col-3 ml-5">
                <br/>
                <div>Informatii:</div>
                <br/>
                <div>Contact</div>
                <br/>
                <div>Politica de confidentialitate</div>
                <br/>
                <div>Termeni si Conditii</div>
                <br/>
            </div>
            <div class="col-3 ml-5">
                <br/>
                <div>Contul meu</div>
                <br/>
                <div>Autentificare</div>
                <br/>
                <div>Inregistrare</div>
                <br/>
                <div>Cos cumparaturi</div>
                <br/>
            </div>
            <div class="col-2 ml-2">
                <br/>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;Alaturati-ne</div>
                <br/>
                <div>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></div>
                <br/>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-instagram fa-3x" aria-hidden="true"></i></div>
                <br/>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></div>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}